:root {
--mako: #2C3138;
--coral: #FF9B77;
--light-grey: #DCDCDC;
}

body {
  margin: 0;
  font-family: 'Passion One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url(./assets/signpost-background.png);
}

legend {
  font-size: 50px;
  color: var(--coral);
}

a {
  text-decoration: none;
  color: var(--mako);
}


@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
