:root {
  --mako: #2c3138;
  --coral: #ff9b77;
  --light-grey: #dcdcdc;
}

@-webkit-viewport {
  width: device-width;
  zoom: 1;
}

body {
  margin: auto;
  font-family: 'Passion One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url(./assets/signpost-background.png);
}

legend {
  font-size: 4.5vw;
  color: var(--coral);
}

a {
  text-decoration: none;
  color: var(--mako);
}

h1 {
  margin-top: 0;
  font-size: 4vw;
  color: var(--mako);
  justify-content: center;
}

h2 {
  font-size: 2.5vw;
}

p {
  font-size: 2vw;
}

pre {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  margin: 0.5vw;
}

/* MOBILE RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 640px) {
  body {
    margin: auto;
    font-family: 'Passion One', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-image: url(./assets/signpost-background.png);
  }

  legend {
    font-size: 9.5vw;
    color: var(--coral);
  }

  h1 {
    margin: 0;
    font-size: 9vw;
    color: var(--mako);
    justify-content: center;
  }

  h2 {
    font-size: 7vw;
  }

  a {
    text-decoration: none;
    color: var(--mako);
  }

  p {
    font-size: 6vw;
  }

  pre {
    font-size: 4.5vw;
    margin: 1vw;
  }
}
