/* DESKTOP */

.close-button {
  display: flex;
  margin: 1vw;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.close-button:hover {
  cursor: pointer;
}

.help-panel {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  justify-content: center;
}

.help-text {
  color: var(--mako);
  text-align: center;
  text-transform: uppercase;
  font-size: 2vw;
}

/* MOBILE RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 640px) {
  .close-button {
    display: flex;
    margin: 1vw;
    background-color: transparent;
    border: transparent;
    outline: none;
  }
  .close-button:hover {
    cursor: pointer;
  }

  .help-panel {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    justify-content: left;
  }

  .help-panel__image {
    width: 20vw;
  }

  .help-text {
    color: var(--mako);
    text-transform: uppercase;
    font-size: 6vw;
  }
}
