.close-button {
  display: flex;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.close-button {
cursor: pointer;
}

.help-panel {
  display: grid;
  grid-template-columns: repeat(3, 200px [col-start]);
  justify-content: center;

}
.help-panel__icon{
  margin: 10px;
}

.help-text {
  color: var(--mako);
  width: 600px;
  margin: auto;
  align-items: center;
}

.headline {
  font-size: 50px;
  color: var(--coral);
}

p {
  font-size: 35px;
}
