/* DESKTOP */
.add-form {
  color: var(--mako);
  width: 60vw;
  margin: auto;
  padding: 1vw;
  margin-top: 5vw;
}

.form__input {
  color: var(--mako);
  font-size: 2vw;
  font-family: 'Passion One', cursive;
}

.dropdown {
  color: var(--mako);
  font-size: 2vw;
  font-family: 'Passion One', cursive;
  padding: 1vw;
}
.dropdown:hover {
  cursor: pointer;
}

.submit-button {
  background-color: var(--mako);
  color: var(--coral);
  font-family: 'Passion One', cursive;
  font-size: 2vw;
  padding: 0.5vw;
  box-shadow: 5px 5px 10px var(--mako);
  border-color: var(--mako);
  border-radius: 10px;
  margin: 1vw;
}
.submit-button:hover {
  cursor: pointer;
}

/* MOBILE RESPONSIVE  */

@media screen and (min-width: 320px) and (max-width: 640px) {
  .add-form {
    color: var(--mako);
    width: 80vw;
    margin: auto;
    padding: 1vw;
  }

  .form__input {
    color: var(--mako);
    font-size: 6vw;
    font-family: 'Passion One', cursive;
  }

  .dropdown {
    color: var(--mako);
    font-size: 6vw;
    font-family: 'Passion One', cursive;
    padding: 1vw;
  }
  .dropdown:hover {
    cursor: pointer;
  }

  .submit-button {
    background-color: var(--mako);
    color: var(--coral);
    font-family: 'Passion One', cursive;
    font-size: 6vw;
    padding: 2vw;
    box-shadow: 5px 5px 10px var(--mako);
    border-color: var(--mako);
    border-radius: 10px;
    margin: 2vw;
  }
  .submit-button:hover {
    cursor: pointer;
  }
}
