/* DESKTOP */

/* --------------------------
      NAVIGATION BUTTONS
   -------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
}
.close-button {
  display: flex;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.close-button {
  cursor: pointer;
}

/* ---------------------------
    SERVICE DETAILS STYLING
--------------------------- */

.service-info {
  color: var(--mako);
  font-size: 2vw;
  max-width: 60vw;
  margin: auto;
}

.edit-button {
  background-color: var(--mako);
  color: var(--coral);
  font-family: 'Passion One', cursive;
  font-size: 2vw;
  padding: 0.5vw;
  box-shadow: 5px 5px 10px var(--mako);
  border-color: var(--mako);
  border-radius: 10px;
  margin: 1vw;
  outline: none;
}

/* MOBILE RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 640px) {
  /* --------------------------
      NAVIGATION BUTTONS
   -------------------------- */

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .close-button {
    display: flex;
    background-color: transparent;
    border: transparent;
    outline: none;
  }
  .close-button {
    cursor: pointer;
  }

  /* ---------------------------
    SERVICE DETAILS STYLING
--------------------------- */

  .service-info {
    color: var(--mako);
    font-size: 6vw;
    max-width: 60vw;
    margin: auto;
  }

  .edit-button {
    background-color: var(--mako);
    color: var(--coral);
    font-family: 'Passion One', cursive;
    font-size: 8vw;
    padding: 2vw;
    box-shadow: 5px 5px 10px var(--mako);
    border-color: var(--mako);
    border-radius: 10px;
    margin: 2.5vw;
    outline: none;
  }
}
