.name {
  font-size: 2.5vw;
  margin: 0.5vw;
}

.infobar-style {
  height: 18vw;
  color: var(--coral);
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .name {
    font-size: 8vw;
    margin: 1.5vw;
  }

  .infobar-style {
    height: 60vw;
    color: var(--coral);
  }
}
