/* DESKTOP */

.modal {
  height: 220px;
  width: 500px;
  display: block;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 40%;
  overflow: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 5px 10px 10px var(--mako);
}

.modal-content {
  margin-top: 5vw;
  color: var(--coral);
}

.modal-content p {
  font-size: 1.5em;
}

.modal-content h2 {
  font-size: 2em;
}

/* MOBILE RESPONSIVE */

/* @media screen and (min-width: 320px) and (max-width: 640px) {
  .modal {
    height: 80vh;
    width: 80vw;
    display: block;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 40%;
    overflow: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 10px 10px var(--mako);
  }
} */
