.modal {
  height: 200px;
  width: 500px;
  display: block;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 30%;
  overflow: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 5px 10px 10px var(--mako);
}

.modal-content {
  color: var(--coral);
}
