.close-button {
  display: flex;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.close-button {
cursor: pointer;
}

.title {
  font-size: 60px;
  color: var(--coral);
}

.about-text {
  color: var(--mako);
  width: 600px;
  margin: auto;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 20px;
}
