.close-button {
  display: flex;
  margin: 1vw;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.close-button {
  cursor: pointer;
}

.about-text {
  display: flex;
  justify-content: center;
  color: var(--mako);
  width: 60vw;
  margin: auto;
}

/* MOBILE RESPONSIVE  */

@media screen and (min-width: 320px) and (max-width: 640px) {
  .close-button {
    display: flex;
    width: 20vw;
    margin: 1vw;
    background-color: transparent;
    border: transparent;
    outline: none;
  }

  .about-text {
    color: var(--mako);
    margin: auto;
  }
}
