.magnifying-glass {
  position: absolute;
  overflow: hidden;
}

.buffer {
  position: relative;
  margin-top: 40vh;
}

.buffer p {
  position: absolute;
  margin-left: 40%;
  margin-top: 20vh;
}

.food,
.shelter,
.learning,
.shower {
  position: relative;
  float: right;
  height: 100px;
  width: 100px;
}

.slide4 {
  animation: sliding 2s infinite;
}
.slide3 {
  animation: sliding 2s infinite;
}
.slide2 {
  animation: sliding 2s infinite;
}
.slide1 {
  animation: sliding 2s infinite;
}

@keyframes sliding {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}
