.magnifying-glass {
  position: absolute;
  overflow: hidden;
}

.buffer {
  position: relative;
  margin-top: 40vh;
}

.buffer p {
  position: absolute;
  margin-left: 40%;
  margin-top: 10vh;
}

.food,
.shelter,
.learning,
.shower {
  position: relative;
  /* float: right; */
  height: 100px;
  width: 100px;
}

.slide4 {
  animation: bounce 1s infinite;
}
.slide3 {
  animation: bounce2 1s infinite;
}
.slide2 {
  animation: bounce 1s infinite;
}
.slide1 {
  animation: bounce2 1s infinite;
}

/* @keyframes sliding {
    0% {
      right: 0%;
    }
    100% {
      right: 100%;
    }
  } */

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-45px);
  }
  80% {
    transform: translateY(-60px);
  }
}

@keyframes bounce2 {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-60px);
  }
  60% {
    transform: translateY(-45px);
  }
  80% {
    transform: translateY(-30px);
  }
}

@media only screen and (max-width: 600px) {
  .buffer p {
    margin-left: 10vh;
  }
}
