/* .magnifying-glass {
  position: absolute;
} */
#parent {
  z-index: 0;
}

#inside {
  z-index: -1;
}

#magnifyingGlass {
  z-index: 1;
}

#hidden-group {
  /* overflow: hidden; */
  position: relative;
  fill: red;
}

.buffer {
  position: relative;
  margin-top: 40vh;
}

.buffer p {
  position: absolute;
  margin-left: 40%;
  margin-top: 20vh;
}

#food,
#shelter,
#learning,
#shower {
  position: absolute;
  top: 100px;
  height: 100px;
  width: 100px;
  transform: translateX(60px);
  z-index: 0;
}
@keyframes sliding {
  0% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-50px);
  }
}
/* 
@keyframes sliding2 {
  0% {
    right: 0%;
  }
  20% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
} */

#shower {
  animation: sliding 0.8s;
}
#learning {
  animation: sliding 0.8s;
  animation-delay: 0.5s;
}
#shelter {
  animation: sliding 0.8s;
  animation-delay: 1s;
}
#food {
  animation: sliding 0.8s;
  animation-delay: 1.5s;
}

/* 
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-45px);
  }
  80% {
    transform: translateY(-60px);
  }
}

@keyframes bounce2 {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-60px);
  }
  60% {
    transform: translateY(-45px);
  }
  80% {
    transform: translateY(-30px);
  }
} */

@media only screen and (max-width: 600px) {
  .buffer p {
    margin-left: 10vh;
  }
}
