.about-button {
  display: flex;
  margin: 1vw;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.about-button:hover {
  cursor: pointer;
}

.signpost {
  font-size: 5vw;
  color: var(--mako);
  text-shadow: 5px 10px 18px var(--light-grey);
}

.tagline {
  font-size: 2vw;
  color: var(--mako);
}

.start-button {
  background-color: var(--mako);
  color: var(--coral);
  font-family: 'Passion One', cursive;
  font-size: 2vw;
  padding: 0.5vw;
  box-shadow: 5px 5px 10px var(--mako);
  border-color: var(--mako);
  border-radius: 10px;
}
.start-button:hover {
  cursor: pointer;
}

/* ----------------------
      MOBILE RESPONSIVE
   ---------------------- */

@media screen and (min-width: 320px) and (max-width: 640px) {
  .about-button {
    display: flex;
    width: 15vw;
    margin: 1vw;
    background-color: transparent;
    border: transparent;
    outline: none;
  }

  .logo {
    width: 40vw;
  }

  .signpost {
    padding-top: 0;
    font-size: 15vw;
    color: var(--mako);
    text-shadow: 5px 10px 18px var(--light-grey);
  }

  .tagline {
    font-size: 8vw;
    color: var(--mako);
  }

  .start-button {
    background-color: var(--mako);
    color: var(--coral);
    font-family: 'Passion One', cursive;
    font-size: 8vw;
    padding: 2vw;
    box-shadow: 5px 5px 10px var(--mako);
    border-color: var(--mako);
    border-radius: 10px;
  }
  .start-button:hover {
    cursor: pointer;
  }
}
