.add-button {
  display: flex;
  margin: 1vw;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.add-button:hover {
  cursor: pointer;
}

.icon-panel {
  display: grid;
  grid-template-columns: repeat(4, 20vw [col-start]);
  justify-content: center;
}

.icon-panel__button {
  margin-top: 1vw;
}

.icon-text {
  color: var(--mako);
  text-align: center;
  text-transform: uppercase;
  font-size: 2vw;
}

/* MOBILE RESPONSIVE  */

@media screen and (min-width: 320px) and (max-width: 640px) {
  .add-button {
    display: flex;
    width: 15vw;
    margin: 1vw;
    background-color: transparent;
    border: transparent;
    outline: none;
  }

  .icon-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
    justify-content: center;
  }

  .icon-panel__button__image {
    width: 18vw;
  }

  .icon-panel__button {
    margin: 10vw;
  }

  .icon-text {
    color: var(--mako);
    text-align: center;
    text-transform: uppercase;
    font-size: 6vw;
  }
}
